.fondoImagen{
	background-image:url("/home/laboratoria/Escritorio/laboratoria2016/mayo/EjercicioIndividual/ejercicio/images/back-lock.jpg");
    padding: 160px 0px 150px 0px;
}
.text-center{
    	color: white;
    	padding:30px 0px 40px 0px;

}
.video{
	background-image:url("/home/laboratoria/Escritorio/laboratoria2016/mayo/EjercicioIndividual/images/bg3.jpg");
    padding: 160px 0px 150px 0px;
}
